# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs


# Python
__pycache__/
*.pyc
.venv/
venv/

# Django
db.sqlite3
*.log
media/

# Vue
my_vue_app/node_modules/
my_vue_app/dist/

# IDE
.vscode/
.idea/

# 爬虫数据
*.csv

# 环境变量
.env

# 向量库
chroma_db/